body
{
	background-color : hsla(120, 100%, 75%, 0.3);
}
.jumbotron
{
	background-image: url(images/banner-jumbo.png);
	background-repeat: no-repeat;
	background-size : 100% auto;
	background-position: 0% +40%;
}